backend/node_modules
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/vendor
backend/.idea
backend/.vscode
backend/.vagrant
backend/Homestead.json
backend/Homestead.yaml
backend/npm-debug.log
backend/yarn-error.log
backend/.env
backend/.phpunit.result.cache
/nbproject
backend/nbproject
/backend/nbproject/private/
dbdata