#button {
    padding: 0;
}

#button li {
    display: inline;
}

#button li a {
    font-family: Arial;
    font-size: 11px;
    text-decoration: none;
    float: left;
    padding: 10px;
    background-color: #2175bc;
    color: #fff;
}

#button li a:hover {
    background-color: #2586d7;
    margin-top: -2;
    padding-bottom: 12px;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}


#header-container {
    background: rgb(255, 99, 71);
}

.nav-item i {
    color: white;
    margin-right: 5px;
    font-size: 20px;
    transition: 100ms;
    will-change: transform;
}

.nav-item:hover i {
    transform: scale(1.2);
}

.nav-item+.nav-item {
    border-left: 1px solid white;
}

.nav-item:hover i.fa-th-list {
    color: LightSeaGreen;
}

.nav-item:hover i.fa-utensils {
    color: LightSteelBlue;
}

.nav-item:hover i.fa-box-open {
    color: BurlyWood;
}

.nav-item:hover i.fa-shopping-cart {
    color: LightGreen;
}

.nav-item:hover i.fa-boxes {
    color: Bisque;
}




.nav-item a {
    color: snow;
}

.navbar-toggler-icon {
    color: white;
}
/*loader*/

.charge {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    transition: all 200ms;
    transition-timing-function: ease-in-out;
}

.point {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(255, 99, 71);
    margin: 5px;
    animation-name: appear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

.point.a {
    opacity: 0;
    animation-delay: 1s;
}

.point.b {
    opacity: 0;
    animation-delay: 1.5s;
}

.point.c {
    opacity: 0;
    animation-delay: 2s;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

body {
    position: relative;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body.loader .charge {
    background-color: rgba(0, 0, 0, .8);
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}


.modal-header {
    background: orange;
    color: white;
}

.modal-body {
    padding-left: 35px;
}

#title-food {
    text-transform: capitalize;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

#title-food:after {
    width: 50%;
    height: 2px;
    content: '';
    background: bisque;
    position: absolute;
    top: 3rem;
    left: 1rem;
}

#list-ingredients ul {
    padding-left: 35px;
}

#list-ingredients li:before {
    font-family: "Font Awesome 5 Free";
    content: "\f105";
    color: orange;
    font-size: 18px;
    font-weight: 900;
    margin: 10px;
    line-height: 30px;
}

.close {
    color: white;
}
